{% extends 'template.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                Rate film  <a href="{% url 'film' film.id %}">'{{ film.name }}'</a>
                <form action="{% url 'rate' film.id %}">
                    <input type="number" name="rating">
                    <input type="text" name="review">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}