{% extends 'base.html' %}
{% load static %}
{% block title %}
    Логин
{% endblock %}
{% block css %}
    <link rel="stylesheet"  href="{%  static  'css/login_page.css'  %}">
{% endblock %}
{% block body %}
        {% if error == "UNF" %}
        <script>
            alert("Неверные логин и/или пароль!")
        </script>
        {% endif %}
        {% if message == True %}
        <script>
            alert("Регистрация прошла успешно!")
        </script>
        {% endif %}
    <div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form style="margin-top: 20px" action="{% url 'login' %}" method="post">
        {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Логин" autocomplete="off" >
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Пароль">
      <input type="submit" class="fadeIn fourth" value="Войти!">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
        <a class="underlineHover" href="{% url 'registration' %}">Зарегистрироваться!</a>
    </div>

  </div>
</div>
{% endblock %}